/*
* @Author: EchoPlus
* @Date:   2018-05-28 15:35:17
* @Last Modified by:   EchoPlus
* @Last Modified time: 2018-05-28 16:24:53
*/
/*导入主体*/
.nav-side{
    float: left;
    width: 130px;
    min-height: 100px;
}
.nav-side .nav-item{
    line-height: 25px;
    font-size: 13px;
}
.nav-side .nav-item .link{
 color: #888;
}
.nav-side .nav-item.active .link{
 color: #c60023;
}
/*右侧内容区*/
.content.with-nav{
    float: left;
    width: 950px;
}