/*
* @Author: EchoPlus
* @Date:   2018-05-28 09:14:47
* @Last Modified by:   EchoPlus
* @Last Modified time: 2018-05-28 09:42:09
*/
.nav{
    background-color: #eee;
    height: 30px;
    line-height: 30px;
}
/*用户导航*/
.nav .user{
    float: left;
}
.nav .user.login{
    display: none;
}

.nav .user .link{
    margin-right: 5px;
}
/*链接导航*/
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}